/*csslint ids: false, box-model: false*/


/*******************************************
GENERAL
*******************************************/

body {
    background-image: url("http://gallsource.com/wp-content/uploads/2014/09/Textures-Any-Good-Background-Wallpapers-In-HD.png");
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    /*Margin 0 is for all sides*/
    margin: 0 auto;
    /*max-width is related to width. But instead of width, max-width that it can be smaller for mobbile devices/tablets.*/
    max-width: 940px;
    /*Values first one is top and bottom. Second one is left and right.*/
    padding: 0 5%;
    ;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}


/*******************************************
HEADER
*******************************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    /*our name and descrition of who we are.*/
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Indie Flower', cursive;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    /*1st value iis for top. 2nd valuue is for left and right. 3rd value is for bottom.*/
    font-family: 'Coming Soon', cursive;
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}


/*******************************************
NAVIGATION
*******************************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/*******************************************
FOOTER
*******************************************/

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #CCC;
    clear: both;
}

.socialmedia {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}


/*******************************************
PAGE PORTFOLIO
*******************************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: #bdc3c7;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: black;
    clear: both;
}


/*******************************************
ABOUT ME PAGE
*******************************************/

.profile-photo {
    display: block;
    max-width: 30px;
    border-radius: 15%;
}


/*******************************************
CONTACT PAGE
*******************************************/

.contact-info a {
    display: block;
    min-height: 20px;
    /* by default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*re-size the background img*/
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png')
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png')
}


/*******************************************
COLORS
*******************************************/

body {
    background-color: black;
    color: white;
}

a {
    color: #999999;
}

header {
    background: #999999;
}

h1,
h2 {
    color: red;
}

nav {
    background: #E60000;
}

nav a,
nav a:visited {
    color: #fff;
}

.selcted, nav a:hover {
 color: red;
}

.images {
    font-family: cursive;
    color: white;
}

.lol1 {
    font-family: cursive;
    color: white;
    font-size: 1.00em;
}


/*******************************************
MEDIA QUERIE
*******************************************/


/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    /*THREE COLUMB LAYOUT PORTFOLIO*/
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid red;
        margin-bottom: 60px;
    }
}